.main-section{

    p, li{
        font-size: 22px;
        letter-spacing: 1.5px;
        font-weight: 600;
    }

    ol, ul{
        padding: 0 2rem;
        margin-bottom: 2rem;

        li+li{
            margin-top:12px;
        }
    }

    small{
        display: block;
        margin-top: 2rem;
    }
    
    .btn-container{
        display: flex;
        width: fit-content;
        margin-left: auto;

        button{
            margin-left: 1rem;
        }
    }
}

.planet-container, .vehicle-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.vehicle-container{
    margin-top: 5rem;
}

.planet-selected{
    transform: scale(1.25);
}

.figure{
    cursor: pointer;
    margin: 0;
    text-align: center;

    figcaption+figcaption{
        margin-top: 12px;
    }

    strong{
        font-size: 1.25rem;
    }
}

.name{
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 1.75rem;
}

.planet-img, .vehicle-img{
    width: 124px;
    transition: transform 0.35s ease-in-out;
}

.disable{
    opacity:0.15;
    cursor: default;
}

.drop-vehicle{
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vehicles{
    margin:0 1rem;
    text-align: center;
}

.result-btn:disabled{
    background-color: #aaa;
    pointer-events: none;
}