@use './styles/base';

*{
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    margin:0;
    color: base.$main-text-color;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    min-height: 100vh;
    background-color: coral;
}

button{
    background-color: steelblue;
    padding: 16px 32px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: base.$main-text-color;
    text-transform: uppercase;
    border: none;
    outline: none;        
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    // &:hover{
    //     background-color: base.$main-text-color;
    //     border: 1px solid steelblue;
    //     color: steelblue;
    // }
}